<div class="row">
  <div class="title">
    <div class="sub-title">Welcome to CompanyPedia !</div>
    <h3>Home</h3>
  </div>
</div>
<div class="row welcome-container">
  <p class="welcome-text">
    Welcome to CompanyPedia, Our intern plateform for sharing knowledge,
    resolving common issues and problems for all of our members.
    Check the latest issues posted and help your teammates solve their problems.
    If you got an issue of your own, please feel free to search it or post it if unfound.
  </p>

</div>

