<div class="row">
  <div class="title">
    <div class="sub-title">Avaxia is honored to have this individual</div>
    <h3>User Profile</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile shadow-lg">
        <div class="decoration">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
        </div>
        <div class="card-content">
            <div class="avatar-container">
                <img src="../../../assets/avatars/1000.jpg" class="avatar">
              </div>
              <h5>Hassene Fliss</h5>
              <hr>
              <div class="card-body">
                Team: Developpement Team<br>
                Birthday: 18-06-1997<br>
                Birthplace: Bizerte - Tunisia<br>
                Job: Developper<br>
              </div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="card card-info shadow-lg">
        <div class="card-header">
          Informations
        </div>
        <div class="card-body">
          Skills :
        </div>
      </div>
    </div>
  </div>
</div>
